{{!< default}}
{{> shaders }}
 <div id="container"></div>

{{# each data.projects }}
	<div class='project {{ title }}'>
		<h1 class='project-title'>{{ title }}</h1>
		<img src="./uploads/{{ image.filename }}">
	</div>
{{/each}}



